
body{
    background: linear-gradient(to top,skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.introduction{
    border-style:outset;
    border-width: 5px;
    border-radius: 10px;
    border-color: skyblue;
    padding:1px;
    width:fit-content;
    height: fit-content;
    /*
    margin-top:50px;
    margin-left:50px;
    margin-bottom:50px;
    margin-right:50px;
    */
    margin-left:auto; /*push to right */
    margin-right:auto /* both auto push to mid*/ 
}   

h1{
    font-family: 'Courier New', Courier, monospace;
    /*
    border-top-style:dotted;
    border-bottom-style: dotted;
    border-left-style:double;
    border-left-width: 10px;
    border-left-color: silver
    */
}